<p id="notice"><%= notice %></p>

<p>
  <strong>Specifier:</strong>
  <%= @cluster_configuration.specifier %>
</p>

<p>
  <strong>Size:</strong>
  <%= @cluster_configuration.size %>
</p>

<%- @templates.each do |template| %>
    <p>
        <%= link_to template.name, template %>
    </p>
<%- end %>

<%= link_to 'Edit', edit_cluster_configuration_path(@cluster_configuration) %> |
<%= link_to 'Back', cluster_configurations_path %>
<%= link_to 'Instantiate', instantiate_cluster_configuration_path %>