<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cluster_template.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cluster_template.image_id %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @cluster_template.flavor_id %>
</p>

<p>
  <strong>Internal ip:</strong>
  <%= @cluster_template.internal_ip %>
</p>

<p>
  <strong>External ip:</strong>
  <%= @cluster_template.external_ip %>
</p>

<p>
  <strong>Ext enable:</strong>
  <%= @cluster_template.ext_enable %>
</p>

<p>
  <strong>Config:</strong>
  <%= @cluster_template.config_id %>
</p>

<%= link_to 'Edit', edit_configuration_path(@cluster_template) %> |
<%= link_to 'Back', configurations_path %>
