<h1>Listing experiments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cluster configuration</th>
      <th>Course</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= experiment.name %></td>
        <td><%= experiment.cluster_configuration %></td>
        <td><%= experiment.course %></td>
        <%- if experiment.status == Experiment::STATUS_ONLINE %>
            <td>Online</td>
        <%- else %>
            <td>Offline</td>
        <%- end %>
        <td><%= link_to 'Show', experiment %></td>
        <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
        <td><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Start', start_experiment_path(experiment) %></td>
        <td><%= link_to 'Stop', stop_experiment_path(experiment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiment', new_experiment_path %>
